* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Courier New', Courier, monospace;
}

#gameboard {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  justify-items: center;
  align-content: center;
  gap: 0.4rem;
  background-color: #4f4f4f;
  margin-top: 2rem;

  opacity: 0;
  transition: opacity 0.2s;
}

#gameboard.disable {
  pointer-events: none;
  filter: grayscale(1);
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;

  width: 100px;
  height: 100px;
  background-color: #ffffff;

  cursor: pointer;
  user-select: none;
}

.cell.winning {
  background-color: #a0d2fe;
}

#container {
  position: relative;
  margin: 0 auto;
  width: min-content;

  margin-top: 3rem;
}

h1 {
  text-align: center;
  margin-bottom: 2.5rem;
}

#alert {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 1.2rem 3rem 0.5rem;
  border-radius: 5px;
  box-shadow: 0 0 7px 2px #00000073;
  
  width: max-content;

  opacity: 0;
  pointer-events: none;

  transition: opacity 0.2s;
}

#reset {
  padding: 0.3rem 1.4rem;
  width: max-content;

  border-radius: 12px;
  border: 1px solid #5b8455;
}

#alert.open {
  opacity: 1;
  pointer-events: all;
}

#alert.tie {
  background-color: #ffa94d;
  border: 1px solid #ff922b;
}

#alert.win {
  background-color: #69db7c;
  border: 1px solid #40c057;
}

#players {
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.player {
  display: grid;
  align-items: end;
  gap: 0.7rem;
}

#player1 {
  grid-template-columns: 80px 25px;
}

#player2 {
  grid-template-columns: 25px 80px;
}

#player2-score {
  order: -1;
}

.player-score {
	display: flex;
	justify-content: center;
	align-items: center;
}

#gamestart {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
}

#start {
  width: 160px;
  padding: 0.5rem;
  border-radius: 15px;
  border: none;
}

.player-name {
  width: 100%;
  margin-top: 0.3rem;
}

#player1-name-box {
  border-bottom: 4px solid transparent;
  padding-bottom: 3px;
}

#player2-name-box {
  border-bottom: 4px solid transparent;
  padding-bottom: 3px;

  text-align: right;
}

#player1-name-box.active {
  border-bottom-color: #fe6666;
}

#player2-name-box.active {
  border-bottom-color: #62b5fe;
}