#gameboard {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  justify-items: center;
  align-content: center;
  gap: 1rem;
  background-color: rgb(246, 180, 93);

  margin: 0 auto;
  width: min-content;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 150px;

  width: 200px;
  height: 200px;
  background-color: rgb(255, 255, 255);

  cursor: pointer;
}